@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:ital,wght@0,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@200&family=Raleway:ital,wght@0,200;1,300&display=swap');
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: none;
}
.bodal{
    background-color: rgb(221, 221, 221);
    margin: 0px;
    padding: 0px;
    border: none; 
}

:root{
    --main-radius:5px;
    --main-padding:5px;
}
h3{
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-family:Poppins;
   margin-left: 20px;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar cena1 cena2 cena3"
    "footer footer footer footer";
    
}
/*parte do cv*/
.container_2{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1.2fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1.3fr 1.3fr 1.4fr;
    grid-template-areas: 
    "nav nav nav nav"
    "barra quadro_1 quadro_1 quadro_10"
    "barra quadro_2 quadro_2 quadro_2"
    "barra quadro_3 quadro_3 quadro_3"
    ;
    grid-gap: 0.5rem;
}
.barra{
    background-color:white;
    grid-area: barra;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);
    display: grid;
    
    ;
}
.perfil-cv{
    background-color:white
    
}
.basico{
    background-color: rgb(19, 49, 132);
    
}
.basico_2{
    background-color: rgb(19, 49, 132);
    
}
.quadro_1{
    background-color:white;
    grid-area: quadro_1;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.quadro_10{
    background-color:white;
    grid-area: quadro_10;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.quadro_2{
    background-color:white;
    grid-area: quadro_2;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quadro_3{
    background-color:white;
    grid-area: quadro_3;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.quadro_2 ul li{
    position: relative;
    list-style: none;
    display: table;
    margin: 10px 0;
    padding-left: 34px;
    padding-right: 5px;
}

 ul li{
    position: relative;
    list-style: none;
    display: table;
    margin: 10px 0;
    padding-left: 34px;
    padding-right: 5px;
}

        
li.circle-checkmark::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 2px; 
    border: solid 15px rgb(19, 49, 132);
    border-radius: 15px;
  }
  
  li.circle-checkmark::after {
    content: ""; 
    position: absolute; 
    left: 12px;
    top: 10px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
      



/*.quadro_2 ul li::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 34px;
    height: 34px;
    background:transparent;
    border-radius: 30px;
    transition: background 0.5s, width 0.5s;
    border: 2px solid blue;
    box-sizing: border-box;
}

.quadro_2 ul li p{
    font-size: 100%;
    font-style: italic;
    margin-top: 0.125em;
}

.quadro_2 ul li:hover::before{
    width: 100%;
    background: blue;
}

.quadro_2 ul li::after{
    content: '';
    top:0;
    left:0;
    width:6px;
    height:6px;
    border-top:2px solid black;
    border-right:2px solid black;
    transform: rotate(45deg);
}*/

 ul li p{
    position: relative;
    z-index: 10;
    padding: 2px 5px;
    font-size: 15px;
    margin-top: 0.255em;
    font-family: 'Nunito Sans', sans-serif;
}
ul li p.langue{
    font-family: 'Nunito Sans', sans-serif;
} 

        
li.diamond::before {
    content: "";
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 0; 
    height: 0; 
    border: 10px solid transparent; 
    border-bottom-color: rgb(19, 49, 132);;
  }
  
  li.diamond::after { 
    content: ""; 
    position: absolute; 
    left: 0px; 
    top: 10px; 
    width: 0; 
    height: 0; 
    border: 5px solid transparent; 
    border-top-color: rgb(19, 49, 132);;
  }
      
  .texto{
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 34;
      font-family: 'Nunito Sans', sans-serif;
  }
 

.nav{
    background-color: white;
    grid-area: nav;
    
}

.data{
    color: #FFFFFF;
    margin-left: 45px;
    font-family: Nunito sans, sans-serif;
}


.bar{
    margin: 20px 0;
}

.bar:first-child{
    margin-top: 0px;
}

.bar .info span{
    font-size: 17px;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}

.bar .info{
    margin-bottom:5px ;
}

.bar .progress-line{
    height: 10px;
    width: 90%;
    position: relative;
    background: #f0f0f0;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),0px 1px rgba(255,255,255,0,08);
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: rgb(55, 212, 163);
    position: absolute;
    border-radius: 10px;
}

.progress-line.java span{
    width: 80%;
}

.progress-line.lua span{
    width: 50%;
}

.progress-line.sql span{
    width: 40%;
}
.progress-line.html span{
    width: 80%;
}

.progress-line.css span{
    width: 70%;
}

.progress-line.arduino span{
    width: 60%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right:0;
    height: 0;
    width: 0;
    top: -10px;
    border: 7px solid transparent;
    border-bottom-width:0px ;
    border-right-width: 0px;
    border-top-color: #000;
}

.bar .progress-line span::after{
    position: absolute;
    content: "80%";
    right:0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 3px 8px;
    border-radius: 3px;
    
}

.bar .progress-line.java span::after{
    content: "80%";
}

.bar .progress-line.lua span::after{
    content: "50%";
}

.bar .progress-line.sql span::after{
    content: "40%";
}
.bar .progress-line.html span::after{
    content: "80%";
}

.bar .progress-line.css span::after{
    content: "70%";
}

.progress-line.arduino span::after{
    content: "60%";
}
.main{
    background-color: white;
    grid-area: main;
    background-image: url("../imgs/a.svg");
    color:#FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
}

.cv{
    color: rgb(0, 51, 85);
    background-color: rgb(117, 234, 199);
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 4px;
    align-items: center;
}

.cv:hover{
    color: rgb(0, 51, 85);
    background-color: rgb(59, 227, 174);
    padding: 7px 20px;
    text-decoration: none;
    border-radius: 4px;
    align-items: center;
}

.sidebar{
    background-color: rgb(246, 250, 255);
    grid-area: sidebar;
    display: grid;
    grid-gap: 0,1rem;
    border-radius: 0 54px 54px 54px;
    
    /*grid-template-columns: 1fr;
    grid-template-rows: 0,25fr 1fr 1fr;
    grid-template-areas: 
    "perfil"
    "descricao"
    "descricao";*/
    
}

/*dentro do sidebar*/

/*.perfil{
    grid-area: perfil;
    align-items: center;
    background-color: white ;
}

.descricao{
    grid-area: descricao;
    background-color: aqua;
}*/

.nome{
    margin-left: 42px;
}

p.pa{
    margin-left: 30px;
    margin-right: 30px;
}

.descricao{
    display: flex;
    margin: 10px;
    align-items: center;
    border-top: 1px solid black;
}

#whatsapp{
    font-size: 40px;
    margin-top: 20px;
    color: black;
    margin-left: 30px;
}

#whatsapp:hover{
    color: rgb(37, 122, 37);
}

#facebook{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}

#facebook:hover{
    color:rbg(56, 85, 153);
} 

#twitter{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}

#twitter:hover{
    color:rgb(42, 169, 224);
}

#instagram{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}

#instagram:hover{
    color: 0xBA2C73;
}

#linkedin{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;
    color: black;
}

#linkedin:hover{
    color:rg(2, 116, 179);
}

#perfil-foto{
    width:120px;
    height:120px;
    margin-left: 79px;
    margin-top: 30px;
    border-radius: 50%;
    
}
#perfil-foto2{
    width:130px;
    height:130px;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 40%;
    
}

.cena1{
    background-color: rgb(228, 241, 255); 
    grid-area: cena1;
    border-radius: 0 54px 54px 54px;
    color:rgb(0, 51, 85);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  
}

.cena2{
    background-color: rgb(228, 241, 255); 
    grid-area: cena2;
    border-radius: 0 54px 54px 54px;
    color:rgb(0, 51, 85);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
   
}

.cena3{
    background-color: rgb(228, 241, 255); 
    grid-area: cena3;
    border-radius: 0 54px 54px 54px;
    color:rgb(0, 51, 85);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
   
}

.prog{
    margin-left: 10px;
    margin-right: 10px;
}

.exp{
    margin-left: 10px;
    margin-right: 10px;
}

.pre{
    margin-left: 10px;
    margin-right: 10px;
}

.footer{
    display: flex;
    background-color: rgb(0, 51, 85);
    grid-area: footer;
    align-items: center;
    
    color: white;
    display: flex; /*poe do lado*/
    justify-content: space-between;
    align-items: center;
    
}

#footer-txt{
    margin-top: 60px;
    margin-left: 100px   ;
}



nav{
    display: flex; /*poe do lado*/
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,2);/*red,green,blue,alpha* rgba*/
    padding: 0px 5px;
}

nav ul{
    display: flex;
    list-style: none;
    
}

nav ul li a{
    margin: 30px;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.logo{
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(35, 128, 233);
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
    margin-left: 5px;
}

@media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "cena1"
        "cena2"
        "cena3"
        "footer";
    }
    
}